In [1]:
num1=int(input("Enter first Number: "))
num2=int(input("Enter Second Number: "))
opr1=input("Enter Operator(+(Add)/-(Minus)/*(Multiply)//(Divide): ")
if opr1=="+":
    result = num1+num2
    if result==56+9:
        print("Result is : 77")
    else:
        print("Result is :",result)
elif opr1=="-":
    result = num1-num2
    print("Result is :",result)
elif opr1=="*":
    result = num1*num2
    if result==45*3:
        print("Result is : 555")
    else:
        print("Result is :",result)
elif opr1=="/":
    result = num1/num2
    if result==56/6:
        print("Result is : 4")
    else:
        print("Result is :",result)
else:
    print("Wrong Input!")

Enter first Number: 56
Enter Second Number: 45
Enter Operator(+(Add)/-(Minus)/*(Multiply)//(Divide): +
Result is : 101

In [2]:
total_try = 10
i = 0
while i < total_try :
    b = int(input("Guess the number:\n"))
    if b>16:
        print("You are guessing bigger number than right number.")
    elif b<16:
        print("You are guessing smaller number than right number.")
    elif b==16:
        print("Great! You guess right number.")
        break
    else:
        print("Invalid Input.")
    total_try-=1
    if b!=16:
        print("You have",total_try,"more try left:")
if b!=16:
    print("Game Over!")

Guess the number:
56
You are guessing bigger number than right number.
You have 9 more try left:
Guess the number:
2
You are guessing smaller number than right number.
You have 8 more try left:
Guess the number:
2
You are guessing smaller number than right number.
You have 7 more try left:
Guess the number:
2
You are guessing smaller number than right number.
You have 6 more try left:
Guess the number:
2
You are guessing smaller number than right number.
You have 5 more try left:
Guess the number:
2
You are guessing smaller number than right number.
You have 4 more try left:
Guess the number:
2
You are guessing smaller number than right number.
You have 3 more try left:
Guess the number:
2
You are guessing smaller number than right number.
You have 2 more try left:
Guess the number:
2
You are guessing smaller number than right number.
You have 1 more try left:
Guess the number:
2
You are guessing smaller number than right number.
You have 0 more try left:
Game Over!

a = input("Enter the count , how many number of * pettern you Want: ")
i=1
while i<a:
    print("*"*a)
    a-=1

In [ ]:
import textwrap

def wrap(string, max_width):
    wraped_text = textwrap.wrap(string,max_width)
    r=""
    for tx in wraped_text:
        r =r+tx+"\n"
    return r

if __name__ == '__main__':
    string, max_width = input(), int(input())
    result = wrap(string, max_width)
    print(result)

In [1]:
'''Let's learn about list comprehensions! 
You are given three integers X,Y and Z 
representing the dimensions of a cuboid along with an integer N.
You have to print a list of all possible coordinates given by (i,j,k)
on a 3D grid where the sum of i+j+k is not equal to N. Here,0<=i<=X; 0<=j<=Y; 0<=k<=Z
'''

if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    ar = []
    for i in range ( x + 1 ) :
        for j in range( y + 1):
            for k in range(z+1):
                if i+j+k != n:
                    ar.append([i , j , k])
    print(ar)

5
4
2
4
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 2, 0], [0, 2, 1], [0, 3, 0], [0, 3, 2], [0, 4, 1], [0, 4, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 2, 0], [1, 2, 2], [1, 3, 1], [1, 3, 2], [1, 4, 0], [1, 4, 1], [1, 4, 2], [2, 0, 0], [2, 0, 1], [2, 1, 0], [2, 1, 2], [2, 2, 1], [2, 2, 2], [2, 3, 0], [2, 3, 1], [2, 3, 2], [2, 4, 0], [2, 4, 1], [2, 4, 2], [3, 0, 0], [3, 0, 2], [3, 1, 1], [3, 1, 2], [3, 2, 0], [3, 2, 1], [3, 2, 2], [3, 3, 0], [3, 3, 1], [3, 3, 2], [3, 4, 0], [3, 4, 1], [3, 4, 2], [4, 0, 1], [4, 0, 2], [4, 1, 0], [4, 1, 1], [4, 1, 2], [4, 2, 0], [4, 2, 1], [4, 2, 2], [4, 3, 0], [4, 3, 1], [4, 3, 2], [4, 4, 0], [4, 4, 1], [4, 4, 2], [5, 0, 0], [5, 0, 1], [5, 0, 2], [5, 1, 0], [5, 1, 1], [5, 1, 2], [5, 2, 0], [5, 2, 1], [5, 2, 2], [5, 3, 0], [5, 3, 1], [5, 3, 2], [5, 4, 0], [5, 4, 1], [5, 4, 2]]

In [ ]:
'''Given the names and grades for each student in a Physics class of N students,
store them in a nested list and print the name(s) of any student(s) having the second lowest grade.
Note: If there are multiple students with the same grade, order their names alphabetically and
print each name on a new line.
'''

if __name__ == '__main__':
    arr = []
    sc = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        arr += [[name,score]]
        sc += [score]
    for i,j in sorted(arr):
        if j==sorted(list(set(sc)))[1]:
            print(i)

In [ ]:
'''Given the participants' score sheet for your University Sports Day, 
you are required to find the runner-up score. You are given scores. 
Store them in a list and find the score of the runner-up.'''

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    a = max(arr)
    i=0
    while i<n:
        if a == max(arr):
            arr.remove(max(arr))
        i+=1
    print(max(arr))

In [3]:


if __name__ == '__main__':
    total_mks = {}
    for i in range(int(input())):
        x = input().split()
        st_name,marks = x[0], x[1:]
        marks = map(float,marks)
        marks = sum(marks)/3
        total_mks[st_name]=marks
    d = input()
    print("{0:.2f}".format(total_mks[d]))

2
ram 34 34 34
ramm 43 43 43
ramm
43.00

In [16]:
import copy
l1=[10,45,78]
l2=l1
print(id(l1))
print(id(l2))
l3 = copy.copy(l1)
l1[1]=44
print(l3)
print(l1)

2019411435784
2019411435784
[10, 45, 78]
[10, 44, 78]

In [20]:
from random import shuffle
x=['please','keep','the','door','close.']
shuffle(x)
print(x)

['keep', 'door', 'the', 'close.', 'please']

In [21]:
a0=dict(zip(('a','b','c','d','e'),(1,2,3,4,5)))
a0

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [42]:
a0=dict(zip(['a','b','c','d','e'],[1,2,3,4,5]))
f=range(10)
f

range(0, 10)

In [46]:
for i in range(9,10):
    print(i)

9

In [47]:
a0= dict(zip(('a','b','c','d','e'),(1,2,3,4,5)))
a3= sorted(([a0[s] for s in a0]))
a3

[1, 2, 3, 4, 5]

In [49]:
a0= dict(zip(('a','b','c','d','e'),(1,2,3,4,5)))
for i in a0:
    print(a0[i])

1
2
3
4
5

In [20]:
print(list(map(int,input("Enter list elements saperated with space.").split())))

Enter list elements saperated with space.34 45 3
[34, 45, 3]

In [25]:
ar=list(map(int,input("Enter list elements saperated with space.").split()))
a=ar.index(45)
print(type(a))

Enter list elements saperated with space.56 45 78 89
<class 'int'>

In [26]:
my_t = (45, 89, 'hi','hello')
my_t[0]

45

In [30]:
rint = 789456
rint

789456

In [33]:
import numpy as np
np.around(10.6)

11.0

In [1]:
print(x*x for x in range(x+1,int(input())))

NameError: name 'x' is not defined

In [3]:
aliens = []
# Make a million green aliens, worth 5 points
# each. Have them all start in one row.
for alien_num in range(25):
 new_alien = {}
 new_alien['color'] = 'green'
 new_alien['points'] = 5
 new_alien['x'] = 20 * alien_num
 new_alien['y'] = 0
 aliens.append(new_alien)
# Prove the list contains a million aliens.
num_aliens = len(aliens)
print("Number of aliens created:")
print(num_aliens)
print(new_alien)

Number of aliens created:
25
{'color': 'green', 'points': 5, 'x': 480, 'y': 0}

In [5]:
#Combining Multiple Strings.

test = ['I', 'Like', 'Python', 'automation']
print(' '.join(test))

I Like Python automation

In [8]:
#Reverse A String In Line.
a = "Test Python"[::-1]
print(a)

#Reverse A list using slicing.
[1, 3, 5][::-1]

nohtyP tseT

[5, 3, 1]

In [3]:
# Find factorial in one line code

import functools
print(functools.reduce(lambda x,y:x*y, tuple(range(1,int(input())+1))))

4
24
4
24

In [12]:
print(lambda x: x+2)

<function <lambda> at 0x0000025C12EB12F0>

In [1]:
import pandas as pd
df = pd.read_csv("foods.csv")

In [3]:
df.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [4]:
col = df.columns
col

Index(['First Name', 'Gender', 'City', 'Frequency', 'Item', 'Spend'], dtype='object')

In [8]:
df = pd.read_csv("foods.csv")
df.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [16]:
col

Index(['First Name', 'Gender', 'City', 'Frequency', 'Item', 'Spend'], dtype='object')

In [57]:
data = {'one':{1,3},
       'two':(2,5),
        'three':(3,2)
       }
type(data)

dict

In [58]:
df=pd.DataFrame(data)

In [59]:
df

      one  two  three
0  {1, 3}    2      3
1  {1, 3}    5      2

In [60]:
s = pd.Series([3,2,"d"])

In [64]:
s[2]=3

In [65]:
s

0     3
1     2
2     3
20    3
dtype: object

In [11]:
x = 'Hey john. How are you john'
x=x.replace("john","John",1)
x

'Hey John. How are you john'

In [13]:
x = 'Hey john. How are you john'
y = x.split(" ",3)
y

['Hey', 'john.', 'How', 'are you john']

In [14]:
def func(*var):
    for i in var:
        print(i)
        
func(45)
func(1,4,3,2)

45
1
4
3
2